.app__Download {
  text-align: center;
  padding: 6rem 0 5rem 0;

  @media screen and (max-width: 650px) {
    padding: 3.5rem 0;
  }

  h2 {
    color: #333;

    margin: auto;
    max-width: 600px;
    margin-bottom: 52px;

    font-size: 80px;
    line-height: 1.05;
    font-weight: 750;

    @media screen and (min-width: 1200px) and (max-width: 1700px) {
      max-width: 500px;
      font-size: 64px;
    }
    @media screen and (max-width: 1200px) {
      max-width: 400px;
      font-size: 56px;
    }
    @media screen and (max-width: 650px) {
      max-width: 300px;
      margin-bottom: 32px;
      font-size: 38px;
    }
  }

  button {
    width: 200px;
    height: 64px;

    background-color: #04ddb2;
    color: #fff;
    border-radius: 32px;

    font-size: 24px;
    font-weight: 700;

    transition: 0.4s;
    box-shadow: 0 10px 20px -8px transparent;

    &:hover {
      background-color: #04ddb2;
      color: #fff;

      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    @media screen and (min-width: 1200px) and (max-width: 1700px) {
      width: 168px;
      height: 50px;
      font-size: 20px;
    }
    @media screen and (max-width: 1200px) {
      width: 168px;
      height: 50px;
      font-size: 20px;
    }

    @media screen and (max-width: 650px) {
      width: 148px;
      height: 42px;
      font-size: 18px;
    }
  }
}
